<div class="container-fluid mt-3">
  <div class="card">
    <div class="card-header">
      <div class="float-start"><h3 class="text-secondary">Position</h3></div>
      <div class="float-end">
        <!-- Add button with routerLink to the detail page -->
        <a class="btn btn-primary" [routerLink]="['/position/detail']"><i class="fa fa-plus"></i> Add</a>
      </div>
    </div>
    <div class="card-body">
      <table datatable [dtOptions]="dtOptions" class="table table-hover">
        <thead>
          <tr>
            <th>Position Number</th>
            <th>Position Title</th>
            <th>Position Description</th>
            <th>Position Salary</th>
          </tr>
        </thead>
        <tbody>
          @if(positions.length !== 0) { @for(position of positions; track position.id) {
          <tr (click)="wholeRowClick(position)">
            <td>
              {{ position.positionNumber }}
            </td>
            <td>{{ position.positionTitle }}</td>
            <td>{{ position.positionDescription }}</td>
            <td>{{ position.positionSalary }}</td>
          </tr>
          } } @else {
          <tr>
            <td colspan="4" class="no-data-available">No data!</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="card-footer">Hint: Searchable columns are Number, Title and Description</div>
  </div>
</div>
